.display {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 12vh;
    padding-right: 2.5vw;
    padding-left: 1.5vw;
    font-size: 80px;
    font-weight: 100;
    color: white;
    background-color: black;
    }
     
body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    width: 100vw; 
    margin: 0;
    background-color: rgb(250, 249, 246);  
}

.calcContainer {
    
    border: none;
    height: fit-content;
    width: fit-content;
      
}
    
.buttonContainer {
    
    border: none;
    display: flex;
    flex-direction: row;       
    background-color: black;  
}
   
.button { 
    min-height: 70px;
    min-width: 70px;
    max-width: 90px;
    max-height: 90px;
    width: 10vw;
    height: 10vw;
    font-size: 3vw;
    font-weight: 100;
    padding: 0px; 
    margin: 5px;
    border-radius: 50%; 
 }

 .button0 {
    font-size: 3vw;
    width: 20vw;
    height: 10vw;
    min-height: 70px;
    min-width: 150px;
    max-width: 192px;
    max-height: 90px;
    padding: 1vw 1vw 1vw 10%; 
    margin: 1% 2% 1% 1%;
    border-radius: 50px;
    text-align: left;   
}

/* .container0{

    width: fit-content;
} */

.operatorPad {   
    display: flex;
    flex-direction: column;
    
    }

.operatorButton {
    border: none;
    background-color: orange;
    color: whitesmoke;
}

.equalSign {
    border: none;
    background-color: orange;
    color: whitesmoke;
}

.numButton {
    background-color: rgb(56,56,56);
    color: whitesmoke;
    border: none;
}

.dot {
    position: relative;
    bottom: 0;
    right: 0;
    border: none;
    background-color: rgb(56,56,56);
    color: whitesmoke;
     
}

.clearButton, 
.percent, 
.plusMinus {
    border: none;
    background-color: darkgray;
    color: black;
}

.glow {
    background-color: rgb(250, 249, 246);
    color: orange;
    transition-duration: 500ms;  
}

 @media(width > 1200px){
    .display {
        display: flex;
        justify-content: end;
        align-items: end;
        
        padding-right: 25px;
        padding-left: 15px;
        font-size: 85px;
        font-weight: 100;
        color: white;
        background-color: black;
        }

        .button { 
    
            
            font-size: 40px;
            font-weight: 100;
            /* padding: 5px;  */
            margin: 5px;
            border-radius: 50%; 
         }
        
         .button0 {
            font-size: 40px;
            padding: 5px 5px 5px 30px; 
            margin: 5px;
            border-radius: 50px;
            text-align: left;   
        }

}

     @media(width < 700px){

     

    .button { 
    
        margin: 3px 3px 3px 3px;
        font-size: 25px;
        
     }
     .button0 {
        font-size: 25px;
        margin: 3px 3px 3px 3px;
    }

    /* .dot {

        margin-left: auto;
    } */


    .display {
        display: flex;
        justify-content: end;
        align-items: end;
        height: 10vh;
        padding-right: 12.5px;
        padding-left: 7.5px;
        font-size: 65px;
        font-weight: 100;
        color: white;
        background-color: black;
        }

        .calcContainer {
    
            max-height: 467.8px;    
        }


}  
   

/* make media wuery that sets maximum font size */