.display {
    font-size: 40px;
    display: flex;
    min-width: max-content;
    min-height: 40px;
    
    background-color: aquamarine;
    
    }
    
    .clearButton {
    
        
    }
    
    body {
        display: flex;
        justify-content: center; 
        
    }
    
    .calcContainer {
        
    
    }
    
    .glow {
        color: red;
    }

    .button {
        font-size: 20px;
        padding: 10px; 
    }

    